:root{
    --color-background-header: var(--color-accent);
    --color-background-page: rgb(200 200 200);
    --color-text: rgb(0 0 0);
    --color-heading-main: #c62d2d;

}

body.dark-mode {
  --color-background-page: rgb(0, 0, 0);
  --color-text: rgb(240, 240, 223);
  --color-background-card: black;
  --color-accent: var(--color-accent-inverted);
  --color-text-control: rgb(51 51 51);
  --color-text-control-inverted: var(--color-background-page);
  --color-heading-main: #ff5757;
}